.App {
    width: 100%;
    min-height: 100%;
    color: #24292e;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #161b22;
}
  
.Header {
    color: #eaeaea;
    padding: 25px;
}
  
.Search {
    display: flex;
    width: 60%;
    z-index: 100;
    position: relative;
    padding: 25px;
}

.Search-input {
    width: 80%;
    font-size: 20px;
    padding: 7px;
    padding-left: 10px;
    outline: none;
    background-color: #eaeaea;
    color: #24292e;
    border-radius: 16px 0 0 16px;
}
  
.Search-button {
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    background-color: #eaeaea;
    border-radius: 0 16px 16px 0;
    border: 0.1px solid #646464;
    color: #24292e;
}

.Menu-profile {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}
  
.Menu-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    color: #eaeaea;
    background-color: #161b22;
    outline: none;
    border-radius: 16px 16px 0 0;
    width: 800px;
    padding: 0 20px 0 20px;
}
  
.Profile {
    background-color: #eaeaea;
    border-radius: 0 0 16px 16px;
    padding: 20px;
    width: 800px;
    height: 300px;
}

.Back-profile {
    background-color: white;
    padding: 20px;
    width: 95%;
    height: 250px;
}

.Picture {
    display: block;
    float: left;
    width: 30%;
    padding: 20px;
    border-radius: 40px;
}

.Username, .Name, .Url, .About, .Engagement {
    display: block;
    float: right;
    text-align: center;
    width: 60%;
}

.Url {
    background-color: #161b22;
    padding: 5px 0 5px 0;
}

h4, h3 {
    line-height: 0%;
}

a {
    color: #eaeaea;
}


@media only screen and (max-width: 1200px) {
    .Menu-profile {
        padding-top: 25%;
    }
}

@media only screen and (max-width: 992px) {
    .Search-input {
        font-size: 14px;
    }
    
    .Search-button {
        width: 80px;
        font-size: 14px;
    }
    
    .Menu-profile {
        padding-top: 30%;
    }

    .Menu-area {
        width: 600px;
        font-size: 14px;
        padding: 0 10px 0 10px;
    }

    .Profile {
        padding: 10px;
        width: 600px;
        height: 350px;
    }

    .Back-profile {
        padding: 10px;
        width: 97%;
        height: 325px;
    }
}

@media only screen and (max-width: 768px) {
    .Header {
        color: #eaeaea;
    }

    .Search-input {
        width: 60%;
    }
}

@media only screen and (max-width: 670px) {
    .App {
        font-size: 14px;
    }
    
    .Header {
        color: #eaeaea;
    }

    .Search-input {
        width: 60%;
    }

    .Menu-area {
        width: 300px;
        padding: 0 10px 0 10px;
    }

    .Menu-profile {
        padding-top: 50%;
    }

    .Profile {
        width: 300px;
        height: 600px;
    }

    .Back-profile {
        width: 90%;
        height: 95%;
    }

    .Picture {
        width: 90%;
    }

    .Username, .Name, .Url, .About, .Engagement {
        display: block;
        float: right;
        text-align: center;
        width: 100%;
    }
    
}

@media only screen and (max-width: 434px) {
    .Header {
        font-size: 10px;
        padding: 5px;
    }

    .Search-input {
        width: 40%;
        padding-left: 0px;
    }

    .Search-button {
        width: 80px;
        font-size: 10px;
    }
    
    .Menu-profile {
        padding-top: 50%;
    }
}