.App {
    width: 100%;
    min-height: 100%;
    color: #24292e;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #161b22;
}
  
.Header {
    color: #eaeaea;
    padding: 25px;
}
  
.Search {
    display: flex;
    width: 60%;
    z-index: 100;
    position: relative;
    padding: 25px;
}

.Search-input {
    width: 80%;
    font-size: 20px;
    padding: 7px;
    padding-left: 10px;
    outline: none;
    background-color: #eaeaea;
    color: #24292e;
    border-radius: 16px 0 0 16px;
}
  
.Search-button {
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    background-color: #eaeaea;
    border-radius: 0 16px 16px 0;
    border: 0.1px solid #646464;
    color: #24292e;
}

.Menu-profile {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 150px;
    max-width: 1000px;
}
  
.Menu-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 5px;
}
  
.Profile {
    background-color: #eaeaea;
    border-radius: 0 0 16px 16px;
    padding: 5px 10px;
}